# core requirements
dm_pix>=0.4.3
einops>=0.8.0
flax>=0.10.7
jax[cuda12]>=0.6.2
optax>=0.2.3
tyro>=0.8.5
wandb>=0.17.4
grain>=0.2.10
array-record>=0.7.2

# data pipeline
ffmpeg-python==0.2.0
hf-transfer==0.1.9
huggingface-hub[cli]>=0.34.3
procgen>=0.10.7
tqdm>=4.67.1
tensorflow>=2.19.0
tensorflow-datasets>=4.12.0
rlds>=0.1.1

# dev
pre-commit>=4.2.0